.error{
    color:#AF0000;
}

#form-error
{
 color:#FF4949;
}
#paginate_button
{
 color:#098ddf;
}

pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}