




          
                        
        
        <table width="720px;">
            <tr>
                <td  width="720px;"><font size="+1"> <strong>Activo no Corriente</strong> </font></td>
            </tr>
        </table>

                     
        


    <table width="720px;">
        <tr>
            <td width="220px" style="font-size:20px;"> Edificios</td>
                            <td style="text-align: right;font-size:14px;"  width="140px;"><strong>Q</strong>&nbsp;4,180,220.25</td>
                <td style="text-align: right;font-size:14px;" width="140px"></td>
                        <td width="200px"></td>
        </tr>
    </table>

    <table width="720px;">
        <tr>
            <td width="40px;"> </td>
                        <td width="680px;">
    <table width="680px;">
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1505-01</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">EDIFICIOS QUETGO.	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">0.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1505-02</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">EDIFICIO TECULUTAN	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">0.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1505-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">EDIFICIO	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">4,180,220.25</td>
            </tr>
            </table>
                        </td>
    </tr>
    </table>

              
                         
        


    <table width="720px;">
        <tr>
            <td width="220px" style="font-size:20px;"> Otros Activos</td>
                            <td style="text-align: right;font-size:14px;"  width="140px;"><strong>Q</strong>&nbsp;11,029,154.79</td>
                <td style="text-align: right;font-size:14px;" width="140px"></td>
                        <td width="200px"></td>
        </tr>
    </table>

    <table width="720px;">
        <tr>
            <td width="40px;"> </td>
                        <td width="680px;">
    <table width="680px;">
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1510-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">VEHICULOS	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">222,397.11</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1515-01</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">ROTULOS QUETGO.	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">128,900.96</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1515-02</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">ROTULOS TECULUTAN	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">115,357.14</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1515-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">ROTULOS	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">415,090.16</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1520-01</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">MAQUINARIA Y EQUIPO QUETGO.	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">161,297.95</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1520-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">MAQUINARIA & EQUIPO	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">1,927,174.94</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1525-01</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">EQUIPO DE COMPUTO QUETGO	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">81,407.13</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1525-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">EQUIPO Y PROGRAMAS DE COMPUTO	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">4,777,887.36</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1530-01</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">MOBILIARIO Y EQUIPO QUETGO.	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">26,329.03</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1530-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">MOBILIARIO Y EQUIPO DE OFICINA	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">1,045,036.30</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1540-01</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">MEJORAS  BIENES ARRENDADOS QUETGO.	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">1,068,352.49</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1540-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">MEJORAS  BIENES ARRENDADOS	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">1,059,924.22</td>
            </tr>
            </table>
                        </td>
    </tr>
    </table>

              
                         
        


    <table width="720px;">
        <tr>
            <td width="220px" style="font-size:20px;"> (-) Depreciación Acumulada</td>
                            <td style="text-align: right;font-size:14px;"  width="140px;"><strong>Q</strong>&nbsp;-14,183,347.24</td>
                <td style="text-align: right;font-size:14px;" width="140px"></td>
                        <td width="200px"></td>
        </tr>
    </table>

    <table width="720px;">
        <tr>
            <td width="40px;"> </td>
                        <td width="680px;">
    <table width="680px;">
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1541-01</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">DEPRECIACION ACUMULADA QUETGO.	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">-1,380,107.13</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1541-02</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">DEPRECIACION ACUMULADA TECU	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">-105,535.71</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1541-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">DEPRECIACION ACUMULADA	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">-12,697,704.40</td>
            </tr>
            </table>
                        </td>
    </tr>
    </table>

            
        <table cellpadding="5" width="720px;">
            <tr>
                <td width="120px;"></td>
                <td width="300px;"><strong>TOTAL</strong> </td>
                <td width="300px;" style="text-align: right;  border-bottom: 0.2px solid #5E80B4;font-size:12px; "><STRONG><strong>Q</strong>&nbsp;1,026,027.80  </strong></td>
            </tr>
        </table>


                                            
                        
        

        
              
                        
        
        <table width="720px;">
            <tr>
                <td  width="720px;"><font size="+1"> <strong>Activo Corriente</strong> </font></td>
            </tr>
        </table>

                     
        


    <table width="720px;">
        <tr>
            <td width="220px" style="font-size:20px;"> Caja y Bancos</td>
                            <td style="text-align: right;font-size:14px;"  width="140px;"><strong>Q</strong>&nbsp;793,330.01</td>
                <td style="text-align: right;font-size:14px;" width="140px"></td>
                        <td width="200px"></td>
        </tr>
    </table>

    <table width="720px;">
        <tr>
            <td width="40px;"> </td>
                        <td width="680px;">
    <table width="680px;">
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1000-01</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">Caja Chica Quetzaltenango	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">4,000.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1000-02</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">CAJA CHICA TECULUTAN	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">1,000.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1000-03</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">CAJA CHICA ESCUINTLA	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">1,000.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1000-04</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">CAJA CHICA HUEHUETENANGO	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">1,500.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1000-07</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">CAJA CHICA CENTRO DE SERVICIO</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">4,000.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1000-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">CAJA CHICA	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">22,000.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1000-10</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">CAJA CHICA CHIQUIMULA</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">1,000.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1000-11</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">CAJA CHICA PLAZA VN</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">1,000.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1000-12</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">CAJA CHICA BARBERENA</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">1,000.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1001-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">CAJA CHICA $	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">0.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1005-01</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">CAJA DE VENTAS QUETGO.	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">1,500.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1005-06</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">CAJA DE VENTAS CENTRO DE SERVICIO</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">1,000.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1005-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">CAJA DE SALA DE VENTAS	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">7,500.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1005-11</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">CAJA DE VENTAS PLAZA VN</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">1,000.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1005-12</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">CAJA DE VENTAS BARBERENA</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">1,000.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1012-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">1090053152 BANTRAB</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">67,559.95</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1014-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">GYT 066-0033128-7</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">164,620.12</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1016-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">3445939278 DEVS GT</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">32,801.58</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1018-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">900195173 TC CREDOMATIC</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">35,996.06</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1023-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">BANRURAL DEP. CLIENTES	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">54,845.46</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1032-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">BANK OF AMERICA  DOLLARS ACCOUNT	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">9,764.68</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1034-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">6445023566 GM DOLLARS ACCOUNT</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">28,951.44</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1000-05</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">CAJA CHICA SAN JUAN</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">0.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1000-06</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">CAJA CHICA AVENIDA PETAPA</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">0.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1000-09</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">CAJA CHICA CHIMALTENANGO</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">0.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1005-02</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">CAJA DE VENTAS TECULUTAN	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">1,500.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1005-03</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">CAJA DE VENTAS ESCUINTLA	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">0.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1005-04</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">CAJA DE VENTAS HUEHUETENANGO</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">1,500.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1020-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">CAJA GENERAL	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">0.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1010-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">BANCO CONTINENTAL-NEW PARTS CHECKING	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">0.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong> 1017-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">BANCO DOLARES</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">0.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1018-01</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">BANCO CONTINENTAL QUETZALTENANGO CHECKING	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">0.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1024-01</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">BANCO CONTINENTAL, DEVOLUCIONES XELA	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">0.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1024-02</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">BANCO CONTINENTAL, DEVOLUCIONES TECULUTAN	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">0.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1011-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">3445939264 OPS GT</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">347,290.72</td>
            </tr>
            </table>
                        </td>
    </tr>
    </table>

              
                         
        


    <table width="720px;">
        <tr>
            <td width="220px" style="font-size:20px;"> Cuentas x Cobrar</td>
                            <td style="text-align: right;font-size:14px;"  width="140px;"><strong>Q</strong>&nbsp;1,068,601.43</td>
                <td style="text-align: right;font-size:14px;" width="140px"></td>
                        <td width="200px"></td>
        </tr>
    </table>

    <table width="720px;">
        <tr>
            <td width="40px;"> </td>
                        <td width="680px;">
    <table width="680px;">
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1050-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">CUENTAS POR COBRAR	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">207,625.89</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1052-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">CUENTAS POR COBRAR EMPLEADOS- EMPLOYEE ADVANC	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">52,021.22</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1053-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">CUENTAS POR COBRAR GANESHA	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">0.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1054-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">Cuentas x Cobrar Vendedores Peri</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">808,954.32</td>
            </tr>
            </table>
                        </td>
    </tr>
    </table>

              
                         
        


    <table width="720px;">
        <tr>
            <td width="220px" style="font-size:20px;"> Inventario de Mercadería</td>
                            <td style="text-align: right;font-size:14px;"  width="140px;"><strong>Q</strong>&nbsp;34,040,457.15</td>
                <td style="text-align: right;font-size:14px;" width="140px"></td>
                        <td width="200px"></td>
        </tr>
    </table>

    <table width="720px;">
        <tr>
            <td width="40px;"> </td>
                        <td width="680px;">
    <table width="680px;">
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1200-01</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">Inventario Repuestos Usados Xela	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">44,167.70</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1200-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">INVENTARIO DE REPUESTOS USADOS	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">20,578,630.03</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1255-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">INVENTARIO DE VEHICULOS	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">42,660.90</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1256-01</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">INVENTARIO NUEVO CHINO XELA</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">618,267.09</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1256-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">INVENTARIO NUEVO CHINO PERI	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">9,401,145.64</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1258-01</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">INVENTARIO LLANTAS NUEVAS XELA</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">0.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1258-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">INVENTARIO LLANTAS NUEVAS PERI</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">130,725.29</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1259-01</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">INVENTARIO NUEVO LOCAL XELA</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">194,554.36</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1259-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">INVENTARIO NUEVO LOCAL PERI</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">3,030,306.14</td>
            </tr>
            </table>
                        </td>
    </tr>
    </table>

              
                         
        


    <table width="720px;">
        <tr>
            <td width="220px" style="font-size:20px;"> Gastos Prepagados</td>
                            <td style="text-align: right;font-size:14px;"  width="140px;"><strong>Q</strong>&nbsp;5,781,304.97</td>
                <td style="text-align: right;font-size:14px;" width="140px"></td>
                        <td width="200px"></td>
        </tr>
    </table>

    <table width="720px;">
        <tr>
            <td width="40px;"> </td>
                        <td width="680px;">
    <table width="680px;">
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1275-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">Seguros Pagados x Anticipado	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">268,605.45</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1276-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">Renta Pagada Anticipada	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">330,861.42</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1300-01</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">GASTOS PREPAGADOS QUETGO.	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">620,132.82</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1300-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">GASTOS PREPAGADOS	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">4,561,705.28</td>
            </tr>
            </table>
                        </td>
    </tr>
    </table>

              
                         
        


    <table width="720px;">
        <tr>
            <td width="220px" style="font-size:20px;"> Créditos Fiscales</td>
                            <td style="text-align: right;font-size:14px;"  width="140px;"><strong>Q</strong>&nbsp;2,315,394.05</td>
                <td style="text-align: right;font-size:14px;" width="140px"></td>
                        <td width="200px"></td>
        </tr>
    </table>

    <table width="720px;">
        <tr>
            <td width="40px;"> </td>
                        <td width="680px;">
    <table width="680px;">
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1111-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">RETENCIONES DE IVA</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">0.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>1281-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">IMPUESTOS ACREDITABLES AL ISR	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">2,315,394.05</td>
            </tr>
            </table>
                        </td>
    </tr>
    </table>

            
        <table cellpadding="5" width="720px;">
            <tr>
                <td width="120px;"></td>
                <td width="300px;"><strong>TOTAL</strong> </td>
                <td width="300px;" style="text-align: right;  border-bottom: 0.2px solid #5E80B4;font-size:12px; "><STRONG><strong>Q</strong>&nbsp;43,999,087.61  </strong></td>
            </tr>
        </table>


                                            
                        
            <table cellpadding="5" width="720px;">
                <tr style="background-color:#F8F5F0;">
                    <td width="120px;" style="background-color:#F8F5F0;"></td>
                    <td width="300px;" style="background-color:#F8F5F0;"><strong>TOTAL  ACTIVO</strong> </td>
                    <td width="300px;" style="background-color:#F8F5F0; text-align: right; font-size:16px; "><STRONG><strong>Q</strong>&nbsp;45,025,115.41  </strong></td>
                </tr>
            </table>

        
        

        
              
                        
        
        <table width="720px;">
            <tr>
                <td  width="720px;"><font size="+1"> <strong>Pasivo No Corriente</strong> </font></td>
            </tr>
        </table>

                                 
        


    <table width="720px;">
        <tr>
            <td width="220px" style="font-size:20px;"> Provisión Indemización</td>
                            <td style="text-align: right;font-size:14px;" width="140px"></td>
                <td style="text-align: right;font-size:14px;" width="140px"><strong>Q</strong>&nbsp;239,556.14</td>

                        <td width="200px"></td>
        </tr>
    </table>

    <table width="720px;">
        <tr>
            <td width="40px;"> </td>
                        <td width="680px;">
    <table width="680px;">
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>2043-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">PROVISION INDEMIZACION PERIFERICO	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">-239,556.14</td>
            </tr>
            </table>
                        </td>
    </tr>
    </table>

            
        <table cellpadding="5" width="720px;">
            <tr>
                <td width="120px;"></td>
                <td width="300px;"><strong>TOTAL</strong> </td>
                <td width="300px;" style="text-align: right;  border-bottom: 0.2px solid #5E80B4;font-size:12px; "><STRONG><strong>Q</strong>&nbsp;239,556.14  </strong></td>
            </tr>
        </table>


                        
                                            
        

        
              
                        
        
        <table width="720px;">
            <tr>
                <td  width="720px;"><font size="+1"> <strong>Pasivo Corriente</strong> </font></td>
            </tr>
        </table>

                                 
        


    <table width="720px;">
        <tr>
            <td width="220px" style="font-size:20px;"> Proveedores</td>
                            <td style="text-align: right;font-size:14px;"  width="140px;"><strong>Q</strong>&nbsp;12,033,625.37</td>
                <td style="text-align: right;font-size:14px;" width="140px"></td>
                        <td width="200px"></td>
        </tr>
    </table>

    <table width="720px;">
        <tr>
            <td width="40px;"> </td>
                        <td width="680px;">
    <table width="680px;">
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>2010-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">CUENTAS POR PAGAR	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">-942,667.86</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>2016-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">CUENTAS POR PAGAR VARIAS	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">-3,936,206.80</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>2017-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">CUENTAS POR PAGAR COMPANIES	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">-512,532.86</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>2018-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">FLETE MARITIMO POR PAGAR	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">1,580.99</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>2019-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">OTRAS CUENTAS X PAGAR LKQ</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">-6,276,659.11</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>2020-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">INTERESES POR PAGAR	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">-367,139.73</td>
            </tr>
            </table>
                        </td>
    </tr>
    </table>

              
                                     
        


    <table width="720px;">
        <tr>
            <td width="220px" style="font-size:20px;"> Prestaciones corto plazo x pagar</td>
                            <td style="text-align: right;font-size:14px;"  width="140px;"><strong>Q</strong>&nbsp;293,434.10</td>
                <td style="text-align: right;font-size:14px;" width="140px"></td>
                        <td width="200px"></td>
        </tr>
    </table>

    <table width="720px;">
        <tr>
            <td width="40px;"> </td>
                        <td width="680px;">
    <table width="680px;">
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>2041-01</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">PROVISION AGUINALDO XELA	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">-24,867.42</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>2041-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">PROVISION AGUINALDO PERIFERICO	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">-29,253.09</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>2042-01</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">PROVISION BONO 14 XELA	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">-12,440.73</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>2042-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">PROVISION BONO 14 PERIFERICO	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">-226,872.86</td>
            </tr>
            </table>
                        </td>
    </tr>
    </table>

              
                                     
        


    <table width="720px;">
        <tr>
            <td width="220px" style="font-size:20px;"> Embargos a Empleados</td>
                            <td style="text-align: right;font-size:14px;"  width="140px;"><strong>Q</strong>&nbsp;17,858.85</td>
                <td style="text-align: right;font-size:14px;" width="140px"></td>
                        <td width="200px"></td>
        </tr>
    </table>

    <table width="720px;">
        <tr>
            <td width="40px;"> </td>
                        <td width="680px;">
    <table width="680px;">
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>2029-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">EMBARGOS  EMPLEADOS	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">-17,858.85</td>
            </tr>
            </table>
                        </td>
    </tr>
    </table>

              
                                     
        


    <table width="720px;">
        <tr>
            <td width="220px" style="font-size:20px;"> Cuentas x Pagar Empleados</td>
                            <td style="text-align: right;font-size:14px;"  width="140px;"><strong>Q</strong>&nbsp;271,751.35</td>
                <td style="text-align: right;font-size:14px;" width="140px"></td>
                        <td width="200px"></td>
        </tr>
    </table>

    <table width="720px;">
        <tr>
            <td width="40px;"> </td>
                        <td width="680px;">
    <table width="680px;">
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>2015-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">CUENTAS POR PAGAR EMPLEADOS	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">-7,400.66</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>2044-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">BONIFICACION GERENTES X PAGAR	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">-264,350.69</td>
            </tr>
            </table>
                        </td>
    </tr>
    </table>

              
                                     
        


    <table width="720px;">
        <tr>
            <td width="220px" style="font-size:20px;"> Impuestos x Pagar</td>
                            <td style="text-align: right;font-size:14px;"  width="140px;"><strong>Q</strong>&nbsp;207,921.82</td>
                <td style="text-align: right;font-size:14px;" width="140px"></td>
                        <td width="200px"></td>
        </tr>
    </table>

    <table width="720px;">
        <tr>
            <td width="40px;"> </td>
                        <td width="680px;">
    <table width="680px;">
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>2046-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">IMPUESTOS SOBRE LA RENTA POR PAGAR (SERVICIOS	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">-9,103.40</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>2030-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">IMP. S/RENTA POR PAGAR	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">-13,311.39</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>2031-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">RETENCIONES DE IVA</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">-6,220.96</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>2032-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">IMPUESTOS POR PAGAR	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">-76,235.32</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>2034-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">IMPUESTOS X PAGAR LKQ 2</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">0.00</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>2040-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">PRESTACIONES SOCIALES POR PAGAR	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">-86,538.17</td>
            </tr>
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>2050-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">IMP. DE VENTAS POR PAGAR	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">-16,512.58</td>
            </tr>
            </table>
                        </td>
    </tr>
    </table>

              
                                     
        


    <table width="720px;">
        <tr>
            <td width="220px" style="font-size:20px;"> Cobros Anticipados</td>
                            <td style="text-align: right;font-size:14px;"  width="140px;"><strong>Q</strong>&nbsp;68,035.45</td>
                <td style="text-align: right;font-size:14px;" width="140px"></td>
                        <td width="200px"></td>
        </tr>
    </table>

    <table width="720px;">
        <tr>
            <td width="40px;"> </td>
                        <td width="680px;">
    <table width="680px;">
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>2070-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">DEPOSITOS SOBRE VENTAS (APARTADOS)	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">-68,035.45</td>
            </tr>
            </table>
                        </td>
    </tr>
    </table>

            
        <table cellpadding="5" width="720px;">
            <tr>
                <td width="120px;"></td>
                <td width="300px;"><strong>TOTAL</strong> </td>
                <td width="300px;" style="text-align: right;  border-bottom: 0.2px solid #5E80B4;font-size:12px; "><STRONG><strong>Q</strong>&nbsp;12,892,626.94  </strong></td>
            </tr>
        </table>


                        
                                            
        
            <table cellpadding="5" width="720px;">
                <tr style="background-color:#F8F5F0;">
                    <td width="120px;" style="background-color:#F8F5F0;"></td>
                    <td width="300px;" style="background-color:#F8F5F0;"><strong>TOTAL PASIVO</strong> </td>
                    <td width="300px;" style="background-color:#F8F5F0; text-align: right; font-size:16px; "><STRONG><strong>Q</strong>&nbsp;13,132,183.08  </strong></td>
                </tr>
            </table>
        

        
              
                        
        
        <table width="720px;">
            <tr>
                <td  width="720px;"><font size="+1"> <strong>Perdida</strong> </font></td>
            </tr>
        </table>

                                 
                    


    <table width="720px;">
        <tr>
            <td width="220px" style="font-size:20px;"> Pérdida del Ejercicio</td>
                            <td style="text-align: right;font-size:14px;" width="140px"></td>
                <td style="text-align: right;font-size:14px;" width="140px"><strong>Q</strong>&nbsp;-424,576.14</td>

                        <td width="200px"></td>
        </tr>
    </table>

    <table width="720px;">
        <tr>
            <td width="40px;"> </td>
                        <td width="680px;">
    <table width="680px;">
            </table>
                        </td>
    </tr>
    </table>

            
        <table cellpadding="5" width="720px;">
            <tr>
                <td width="120px;"></td>
                <td width="300px;"><strong>TOTAL</strong> </td>
                <td width="300px;" style="text-align: right;  border-bottom: 0.2px solid #5E80B4;font-size:12px; "><STRONG><strong>Q</strong>&nbsp;-424,576.14  </strong></td>
            </tr>
        </table>


                        
                        
        

        
              
                        
        
        <table width="720px;">
            <tr>
                <td  width="720px;"><font size="+1"> <strong>Capital</strong> </font></td>
            </tr>
        </table>

                                 
        


    <table width="720px;">
        <tr>
            <td width="220px" style="font-size:20px;"> Capital Autorizado</td>
                            <td style="text-align: right;font-size:14px;"  width="140px;"><strong>Q</strong>&nbsp;5,611,600.00</td>
                <td style="text-align: right;font-size:14px;" width="140px"></td>
                        <td width="200px"></td>
        </tr>
    </table>

    <table width="720px;">
        <tr>
            <td width="40px;"> </td>
                        <td width="680px;">
    <table width="680px;">
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>3005-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">CAPITAL ACCIONES	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">-5,611,600.00</td>
            </tr>
            </table>
                        </td>
    </tr>
    </table>

              
                                     
        


    <table width="720px;">
        <tr>
            <td width="220px" style="font-size:20px;"> Utilidades Retenidas</td>
                            <td style="text-align: right;font-size:14px;"  width="140px;"><strong>Q</strong>&nbsp;25,017,479.42</td>
                <td style="text-align: right;font-size:14px;" width="140px"></td>
                        <td width="200px"></td>
        </tr>
    </table>

    <table width="720px;">
        <tr>
            <td width="40px;"> </td>
                        <td width="680px;">
    <table width="680px;">
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>3020-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">UTILIDADES RETENIDAS	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">-25,017,479.42</td>
            </tr>
            </table>
                        </td>
    </tr>
    </table>

              
                                     
        


    <table width="720px;">
        <tr>
            <td width="220px" style="font-size:20px;"> Reserva Legal</td>
                            <td style="text-align: right;font-size:14px;"  width="140px;"><strong>Q</strong>&nbsp;282,576.00</td>
                <td style="text-align: right;font-size:14px;" width="140px"></td>
                        <td width="200px"></td>
        </tr>
    </table>

    <table width="720px;">
        <tr>
            <td width="40px;"> </td>
                        <td width="680px;">
    <table width="680px;">
                                            <tr>
                <td width="150px;" style="border: 0.2px solid #5E80B4;"><strong>3200-08</strong> </td>
                <td width="380px;" style="border: 0.2px solid #5E80B4;">RESEVA LEGAL  5%	</td>
                <td  width="150px;" style="text-align: right;border: 0.2px solid #5E80B4;">-282,576.00</td>
            </tr>
            </table>
                        </td>
    </tr>
    </table>

            
        <table cellpadding="5" width="720px;">
            <tr>
                <td width="120px;"></td>
                <td width="300px;"><strong>TOTAL</strong> </td>
                <td width="300px;" style="text-align: right;  border-bottom: 0.2px solid #5E80B4;font-size:12px; "><STRONG><strong>Q</strong>&nbsp;30,911,655.42  </strong></td>
            </tr>
        </table>


                        
                        
        

        
    



<table cellpadding="5" width="720px;">
    <tr style="background-color:#F8F5F0;">
        <td width="120px;" style="background-color:#F8F5F0;"></td>
        <td width="300px;" style="background-color:#F8F5F0;"><strong>TOTAL </strong> </td>
        <td width="300px;" style="background-color:#F8F5F0; text-align: right; font-size:16px; "><STRONG><strong>Q</strong>&nbsp;43,619,262.36  </strong></td>
    </tr>
</table>
